<%= form_for :user do |f| %>
  <p>Your name: <%= f.collection_select :name, User.all, :id, :name, :prompt => 'Please select your username from this dropdown'%></p>
  <%= f.label :password, "Your password:" %>
  <%= f.text_field :password %>
  <%= f.submit "Sign In" %>
<% end %>
